{
  "extends": "lookback/meteor",

  "globals": {
    "Mailer": true,
    "Utils": true,
    "juice": false,
    "FlowRouter": false,
    "Router": false,
    "TemplateHelpers": true,
    "SSR": false,
    "Picker": false,
    "Routing": true,
    "Templates": true
  }
}
