{
  "rules": {
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "strict": 0,
    "quotes": [2, "single"],
    "no-underscore-dangle": 0,
    "curly": 0
  },

  "env": {
    "browser": true,
    "node": true,
    "jquery": true,
    "meteor": true
  },

  "globals": {
    "Mailer": false
  }
}
